.timecard-container {
  width: 600px;
  height: 150px;
  border: 0.5px solid white;
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;
}

.timecard {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #eebbc3;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  color: #232946;
}

.timecard .timecard-head {
  padding: 8px;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timecard-head .card-title {
  flex: 4;
  font-family: "Rubik", sans-serif;
  font-size: 28px;
}

.timecard-head .card-sub {
  flex: 1;
  font-size: 18px;
  text-align: right;
}

.timecard .timecard-body {
  flex: 3;
  width: 100%;
}

.timerbody-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.timer-container {
  font-family: "Inconsolata", monospace;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 5px;
}
.timer-container .timer-value {
  font-size: 32px;
  font-weight: 500;
  color: #1b2e8f;
}
