@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700&family=Nunito+Sans:wght@300&family=Nunito:wght@300&family=Poppins:wght@200;300;400;500;600&family=Roboto:wght@100;300;400;500;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap");

/* 
  COLORS
    - Elements:
      - background: #232946
      - headline: #fffffe
      - paragraph:  #b8c1ec
      - button: #eebbc3
      - button-text:  #232946
    - Illustration:
      - Stroke: #121629
      - Main: #b8c1ec
      - Highlight:  #eebbc3
      - Secondary:  #fffffe
      - Tertiary: #eebbc3
 */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #232946;

  /*
    font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Inconsolata', monospace; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
